$background-color: #c7c7c7;
$sexy-color: fuchsia;
$sexy-font: 'Dancing Script';
$logo-font: 'Ubuntu';
$header-font: 'Roboto Slab';
$navbar-bgc: #171717;
$navbar-padding: 110px;
$category-bgc: #ac378d;
$item-bgc: #edeced;